@Model Registration.Models.Registrations

@{
    ViewData["Title"] = "Wyniki";
}


<h1>Wynik</h1>
Rejestracja zakonczona pomyslnie
<br />
Imie: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email: @Model.Email
<br />
Numer telefonu: @Model.PhoneNumber
<br />
Miasto: @Model.Miasto
<br />